html{
    background: lightblue;
}
main{
    background: white;
    border-radius: 20px;
}
button{
    margin-top: 20px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

/* Style the buttons inside the tab */
div.tab button {
    all: unset;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 15px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    overflow: hidden;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

}


#adduser, #searchuser{
    float: left;
    margin-right: 20%;

}

#deleteuser{
    float: left;
    margin-right: 5%;
}
#deletereminder{
    margin-right: 7%;
    display: inline-block;
}
#addreminder, #deleteall, #searchreminder{
    display: inline-block;
}


